<div class="w-full h-full flex justify-around p-2 m-3">
  <div class=" flex flex-col justify-between w-80">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "w-full flex px-5 py-7") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "font-semibold text-sm  pb-1 block" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border rounded-lg px-3 py-1 mt-1 mb-5 text-sm w-full" %>
      </div>

      <div class="field">
        <%= f.label :username, class: "font-semibold text-sm  pb-1 block" %><br />
        <%= f.text_field :username, autocomplete: "username", class: "border rounded-lg px-3 py-1 mt-1 mb-5 text-sm w-full" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "font-semibold text-sm  pb-1 block" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "border rounded-lg px-3 py-1 mt-1 mb-5 text-sm w-full" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "font-semibold text-sm pb-1 block" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border rounded-lg px-3 py-1 mt-1 mb-5 text-sm w-full" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "text-white transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 w-full py-1.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block" %>
      </div>
    <% end %>
    <div class="mt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
