<div class="flex flex-col justify-around w-full" >
    <div class="flex flex-col justify-around w-full"> 
        <div class="">
            <p class="text-2xl "> <%= @recipe.name %> by <span class="italic"> <%= @recipe.get_recipe_author %> </span> </p>
            <%= link_to "🔗 Read description", "#description", class: "" %>
        </div>

        <div class="flex justify-around mt-2">
            <% if @recipe.belongs_to_user?(current_user) %>
                <div>
                    <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "py-1 px-2 rounded-md  active:bg-purple-800 bg-blue-400" %>
                </div>
            <% end %>

            <div class="justify-around">
                <%= link_to "▶ Start cooking along", :cooking_session_show, class: "text-white py-1 px-2 rounded-md   active:bg-purple-800 bg-gray-500" %>
            </div>
        </div>
    </div>

    <hr class="m-2"/>
    <div>
        <span class=" font-semibold"> Required Ingredients </span>
        <%= render partial: "ingredients_checklist", locals: {ingredients: @ingredients} %>
    </div>

    <hr class="m-2"/>
    <div>
        <span class=" font-semibold"> Steps </span>
        <%= render partial: "steps_checklist", locals: {steps: @steps} %>
    </div>

    <hr class="m-2"/>
    <div id="description">
        <h3 class=" font-semibold"> Description </h3>
        <p class=" text-justify"> <%= @recipe.description %> </p>
    </div>
    
</div>