<div class="flex flex-col">
    <h1 class="p-2 m-2"> Check out this recipe by <%= sample_recipe.get_recipe_author %> </h1>
    <div class="w-full rounded-xl overflow-hidden bg-white shadow-sm border border-gray-200 hover:shadow-md transition-shadow p-2 m-2 flex">
        <div class="h-40 w-40 bg-gray-100 overflow-hidden mx-2">
            <%= image_tag "https://picsum.photos/200",
                alt: "#{sample_recipe.name} photo",
                class: "h-full w-full object-cover rounded-md" %>
        </div>

        <!-- Content -->
        <div class="p-4 space-y-2 w-full max-w-full">
            <%= link_to sample_recipe do %>
                <p class="text-base font-semibold text-gray-900 leading-snug wrap-break-words w-4/5"> ðŸ”— <%= sample_recipe.name %> by <span class="italic"> <%= sample_recipe.get_recipe_author %> </span> </p>
            <% end %>

            <p class="text-sm text-gray-600 overflow-wrap">
            <%= sample_recipe.description %>
            </p>

            <div class="flex flex-wrap">
            <p class="text-sm text-white truncate p-1 rounded-md bg-gray-500 ">
                <% sample_recipe.tags.each do |tag| %>
                <%= link_to tag_path( tag.slug ) do  %>
                    <%= "ðŸ·ï¸ #{ tag.tag_name.humanize }" %>
                <% end %>
                <% end %>
            </p>
            </div>
        </div>
    </div>
</div>
